 <template>
  <div class="home">
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">Hello World</h1>
          <p class="subtitle">
            My first website with
            <strong>Bulma</strong>!
          </p>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="tabs is-centered">
        <ul>
          <li class="is-active">
            <a>Pictures</a>
          </li>
          <li>
            <a>Music</a>
          </li>
          <li>
            <a>Videos</a>
          </li>
          <li>
            <a>Documents</a>
          </li>
        </ul>
      </div>
    </section>
  </div>
</template>

<script>
import Navigation from './Navigation';

export default {
  name: "Home",
  components: {
    Navigation
  }
};
</script>

<style scoped>
</style>